

<body id="bg-img">
    <app-header></app-header>

        <main id="about">

          <!--
            <h1 class="lg-heading">
                About <span class="text-secondary">Me</span>
            </h1>
            <h2 class="sm-heading">
                Let me tell you a few things...
            </h2>
            <div class="about-info">
                <img src="../../assets/images/portraitSm.jpg" alt="Hyo Chang Kim" class="bio-image">

                <div class="bio">
                    <h3 class="text-secondary">Bio</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsum expedita iste magnam quod possimus, id qui explicabo quia illo ex porro. Provident, sit numquam quam aut cupiditate qui mollitia!</p>
                    <div>
                        <button class="button">Resume</button>
                        <div class="icons">
                            <a href="#!">
                                <i class="fab fa-linkedin fa-2x"></i>
                                    LinkedIn
                            </a>
                        </div>
                        <div class="icons">
                            <a href="#!">
                                <i class="fab fa-github fa-2x"></i>
                                    GitHub
                            </a>
                        </div>
                    </div>
                </div>

                <div class="job job-1">
                    <h3>NJIT</h3>
                    <h6>Graduate Student</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsum expedita iste magnam quod possimus, id qui explicabo quia illo ex porro.</p>
                </div>
                <div class="job job-2">
                    <h3>Kingstown</h3>
                    <h6>Ops Manager</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsum expedita iste magnam quod possimus, id qui explicabo quia illo ex porro.</p>
                </div>
                <div class="job job-3">
                    <h3>Kmart</h3>
                    <h6>Store Manager</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsum expedita iste magnam quod possimus, id qui explicabo quia illo ex porro.</p>
                </div>
            </div>
          -->
          <h1 class="lg-heading">
              About <span style="color:rgb(40, 8, 245)">Hyo</span>
          </h1>
          <h2 class="sm-heading">

          </h2>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <div fxFlex="30%" class="bio-image">
              <img class="img" src="../../assets/images/portraitSm.jpg" alt="Hyo Chang Kim">
          </div>
          <div fxFlex="15%">
            <br>
              <button class="button"><a href="../../assets/images/Resume716.pdf" target="_blank">
                Resume</a>
              </button>
              <div class="icon">
                  <a href="https://twitter.com/hyhyisso" target="_blank">
                      <i class="fab fa-twitter fa-2x"></i>
                  </a>
              </div>
              <div class="icon">
                  <a href="https://www.linkedin.com/in/hyochangkim/" target="_blank">
                      <i class="fab fa-linkedin fa-2x"></i>
                  </a>
              </div>
              <div class="icon">
                  <a href="https://github.com/hckim16" target="_blank">
                      <i class="fab fa-github fa-2x"></i>
                  </a>
              </div>
          </div>
          <div fxFlex="55%">
            <br>
            <h3 style="color:rgb(40, 8, 245)">Bio</h3>
            <hr>
                    <p><strong>Hyo began collecting comic books back in 1970, thinking "I'm going to invent a better time machine than Brainiac 5!"  47 years later - no, not really.  But, now... A "software engineer" with looking to leave a better world for his girls.</strong></p>
          </div>
        </div>

        <br>
        <br>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <div fxFlex="33%">
              <mat-card>
                  <mat-card-header>
                    <mat-card-title>Job 1</mat-card-title>
                  </mat-card-header>
                   <mat-card-content>
                      <h3>NJIT</h3>
                      <h6>Graduate Student</h6>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsum expedita iste magnam quod possimus, id qui explicabo quia illo ex porro.</p>
                   </mat-card-content>
                </mat-card>
          </div>
          <div fxFlex="33%">
              <mat-card>
                  <mat-card-header>
                    <mat-card-title>Job 2</mat-card-title>
                  </mat-card-header>
                   <mat-card-content>
                      <h3>Kingstown</h3>
                      <h6>Ops Manager</h6>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsum expedita iste magnam quod possimus, id qui explicabo quia illo ex porro.</p>
                   </mat-card-content>
                </mat-card>
          </div>
          <div fxFlex="34%">
              <mat-card>
                  <mat-card-header>
                    <mat-card-title>Job 3</mat-card-title>
                  </mat-card-header>
                   <mat-card-content>
                      <h3>Kmart</h3>
                      <h6>Store Manager</h6>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsum expedita iste magnam quod possimus, id qui explicabo quia illo ex porro.</p>
                   </mat-card-content>
                </mat-card>
          </div>

        </div>



      </main>




    <app-footer></app-footer>
  </body>
