<body id="bg-img">

  <app-header></app-header>

  <main id="about">

    <h1 class="lg-heading">
      About <span style="color:rgb(40, 8, 245)">Me</span>
    </h1>
    <br>
    <h2 class="sm-heading"></h2>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="30%" class="bio-image">
        <img class="img" src="../../assets/images/portraitSm.jpg" alt="Hyo Chang Kim">
      </div>
      <div fxFlex="15%">
        <br>
        <button class="button"><a href="../../assets/images/Hyo Chang Kim Resume.pdf" target="_blank">Resume</a></button>
        <div class="icon">
          <a href="https://twitter.com/hyhyisso" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
        <div class="icon">
          <a href="https://www.linkedin.com/in/hyochangkim/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
        <div class="icon">
          <a href="https://github.com/hckim16" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </div>
      </div>
      <div fxFlex="55%">
        <br>
        <h3 style="color:rgb(40, 8, 245)">Bio</h3>
        <hr>
        <mat-card class="bio-card">
          <mat-card-content>
            <p>Began collecting comic books back in 1970, thinking "I'm going to invent a better time machine than Brainiac 5!"  <strong>48 years later</strong> - no, not really.  But, now... A "software engineer" with looking to leave a better world for his girls.<br><a href="https://www.hyochangkim.com/about-me/" target="_blank">My past life here...</a></p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br>
    <br>
    <div class="container"
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="0.5%"
         fxLayoutAlign="center">
      <div fxFlex="33%">
        <mat-card class="job-card">
          <mat-card-header class="job-header">
            <mat-card-title class="job-title">Operations Manager</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h3>Kingstown</h3>
            <br>
                <p>Directed multi-site operation involving hotel management and resort development in New Zealand while concurrently overseeing residential development in Riverside County, CA.</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33%">
        <mat-card class="job-card">
          <mat-card-header class="job-header">
            <mat-card-title class="job-title">Store Manager</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h3>Kmart</h3>
            <br>
                <p>Managed all aspects of Kmart operations in stores ranging in revenue from $15 million to $25 million with increasing levels of responsibility and accountability. Hired and ensured training for all employees within store operations. As general store manager, scrutinized and oversaw sales, operations, logistics with P&L responsibility for all departments.</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="34%">
        <mat-card class="job-card">
          <mat-card-header class="job-header">
            <mat-card-title class="job-title">Positions Held</mat-card-title>
          </mat-card-header>
          <mat-card-content>
                <ul style="font-size: 20px;">
                  <li>Captain, US Army</li>
                  <li>Owner, Rose's Wine Shop</li>
                  <li>President, Shindong Wine Imports</li>
                </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </main>

  <app-footer></app-footer>

</body>
