<body id="bg-img">
    <app-header></app-header>
<body style="background:transparent;">
  <div class="row centered-form center-block">
    <div class="container col-md-10 col-md-offset-1 vertical-center">
      <div class="jumbotron">
        <div class="wrapper">
          <div class="contact">
            <h3><mat-icon fontSet="fab" fontIcon="fa fa-envelope-square"><i class="fab fa-envelope-square"></i></mat-icon>     Send me an Email!</h3>
            <form>
              <p>
                <label>Name</label>
                <input type="text" name="name">
              </p>
              <p>
                <label>Company</label>
                <input type="text" name="company">
              </p>
              <p>
                <label>Email Address</label>
                <input type="text" name="email">
              </p>
              <p>
                <label>Phone Number</label>
                <input type="text" name="phone">
              </p>
              <p class="full">
                <label>Message</label>
                <textarea type="message" row="15"></textarea>
              </p>
              <p class="full">
                <button>Submit</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<div class="space"></div>

    <app-footer></app-footer>
    </body>
