<body id="bg-img">
    <app-header></app-header>

    <main id="contact">
      <h1 class="lg-heading">
        Email <span style="color:rgb(40, 8, 245)">Me</span>
      </h1>
      <h2 class="sm-heading"></h2>
      <br>
      <div class="icons">
        <a href="https://twitter.com/hyhyisso" target="_blank">
          <i class="fab fa-twitter fa-3x"></i>
        </a>
      </div>
      <div class="icons">
        <a href="https://www.linkedin.com/in/hyochangkim/" target="_blank">
          <i class="fab fa-linkedin fa-3x"></i>
        </a>
      </div>
      <div class="icons">
        <a href="https://github.com/hckim16" target="_blank">
          <i class="fab fa-github fa-3x"></i>
        </a>
      </div>


  <div class="row centered-form center-block">
    <div class="container col-md-10 col-md-offset-1 vertical-center">
      <div class="jumbotron">
        <div class="wrapper">
          <div class="contact">
            <h3><i class="fa fa-envelope-o fa-2x" style="margin-right: 1rem;"></i>Send me an Email!</h3>
            <br>
            <form>
              <p>
                <label>Name</label>
                <input type="text" name="name">
              </p>
              <p>
                <label>Company</label>
                <input type="text" name="company">
              </p>
              <p>
                <label>Email Address</label>
                <input type="text" name="email">
              </p>
              <p>
                <label>Phone Number</label>
                <input type="text" name="phone">
              </p>
              <p class="full">
                <label>Message</label>
                <textarea type="message" row="15"></textarea>
              </p>
              <p class="full">
                <button>Submit</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
    <app-footer></app-footer>
    </body>
