<body id="bg-img">
  <app-header></app-header>
<main id="home">
  <h1 class="lg-heading">
      Hyo Chang <span style="color:rgb(40, 8, 245)">Kim</span>
  </h1>
<br>
  <h2 class="sm-heading">
      Software Engineer, Web Developer, Being the Best Dad I can be...
  </h2>
  <div class="icons">
      <a href="https://twitter.com/hyhyisso" target="_blank">
          <i class="fab fa-twitter fa-3x"></i>
      </a>
  </div>
  <div class="icons">
      <a href="https://www.linkedin.com/in/hyochangkim/" target="_blank">
          <i class="fab fa-linkedin fa-3x"></i>
      </a>
  </div>
  <div class="icons">
      <a href="https://github.com/hckim16" target="_blank">
          <i class="fab fa-github fa-3x"></i>
      </a>
  </div>
  </main>
  <app-footer></app-footer>
  </body>
