@import 'config';

@include mediaXLarge {
  .projects {
      grid-template-columns: repeat(4, 1fr);
  }
}

@include mediaLarge {
  .projects {
      grid-template-columns: repeat(3, 1fr);
  }
}

@include mediaMedium {
  main {
      align-items: center;
      text-align: center;

      .lg-heading {
          line-height: 1;
          margin-bottom: 1rem;
      }
  }

  ul.menu-nav,
  div.menu-branding {
      float: none;
      width: 100%;
      min-height: 0;

      &.show {
          transform: translate3d(0,0,0);
      }
  }

  .menu-nav {
      height: 75vh;
      transform: translate3d(-100,0,0);
      font-size: 24px;
  }

  .menu-branding {
      height: 25vh;
      transform: translate3d(100,0,0);

      .portrait {
          width: 150px;
          height: 150px;
          background: url('../assets/images/rsz_1portrait.jpg');
          border-radius: 50%;
          border: solid 3px $secondary-color;
      }
  }

  .about-info {
      grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';
      grid-template-columns: 1fr;
  }

  .projects {
      grid-template-columns: repeat(2, 1fr);
  }
}

@include mediaSmall{
  main#home h1 {
      margin-top: 10vh;
  }

  .projects {
      grid-template-columns: 1fr;
  }
}
