/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/dist/css/bootstrap.css";



@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import 'variables';
@import 'menu';
@import 'config';
@import 'mobile';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
      font-size: 6rem;
      text-align: center;
  }

  &.sm-heading {
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
      background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 3;
  width: 100%;
}

.text-secondary {
  color: #fff;
}

main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
      margin-top: 1rem;
      display: inline-block;
      margin-right: 1rem;

      a {
          padding: 0.4rem;

          &:hover {
              color: $secondary-color;
              @include easeOut;
          }
      }
  }

  &#home {
      overflow: hidden;
      h1 {
          margin-top: 20vh;
      }
  }
}

.icon {
  margin-top: 1rem;
  margin-right: 1rem;

  a {
      padding: 0.4rem;

      &:hover {
          color: $secondary-color;
          @include easeOut;
      }
  }
}

.img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: solid 5px $secondary-color;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  'bioimage bio bio'
  'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
      grid-area: bioimage;
      margin: auto;
      border-radius: 50%;
      border: $secondary-color 5px solid;
  }

  .bio {
      grid-area: bio;
      font-size: 1.4rem;
  }

  .button {
      padding: 15px 25px;
      font-size: 24px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;

      &:hover {
          color: $secondary-color;
          @include easeOut;
      }
  }

  .job-1 {
      grid-area: job1;
  }

  .job-2 {
      grid-area: job2;
  }

  .job-3 {
      grid-area: job3;
  }

  .job {
      background: lighten($primary-color, 5);
      padding: 0.5rem;
      border-bottom: $secondary-color 5px solid;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;

  img {
      width: 100%;
      border: 3px #fff solid;

      &:hover {
          opacity: 0.5;
          border-color: $secondary-color;
          @include easeOut;
      }
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
      font-size: 2rem;
      border: 3px #fff solid;
      padding: 1.5rem 2.5rem;
      margin-bottom: 0.3rem;
      @include easeOut;

      &:hover {
          padding: 0.5rem 1.5rem;
          background: $secondary-color;
          color: set-text-color($secondary-color);
          span {
              color: set-text-color($secondary-color);
          }
      }
  }
}

.btn {
  display: block;
  padding: 0.5 rem 1rem;
  border: 0;
  margin-bottom: 0.3 rem;
  &:hover {
      background: $secondary-color;
      color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

.button {
  padding: 10px 20px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

  &:hover {
      color: $secondary-color;
      @include easeOut;
  }
}

